.toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 35px;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.toTop:hover {
    transform: scale(1.1); 
    color: var(--main-color);
}
  
.toTop:focus {
    outline: none;
}
  
 @keyframes slideIn {
    from {
      bottom: -100px; 
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
}

.toTop {
    animation: slideIn 0.5s ease-out; 
}
