@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font) !important;
}

:root{
  --body-font: "Poppins", serif;
  --main-color:#fa4251;
  --dark-color:#000;
  --white-color:#fff;
  --nav-color:#424242;
}

main{
  background-color: var(--dark-color);
  color: var(--white-color);
  overflow: hidden;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  margin-top: 90px;
}




.category-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-icon.active {
  transform: rotate(180deg);
  color: var(--main-color);
}

@media (max-width: 992px) {
  .category-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .col-lg-3{
    overflow: hidden;
  }

  .category-content.show {
    max-height: 500px;
    opacity: 1;
  }
}


